<div class="container mt-5" *ngIf="StdehowTests && StdehowTests.testList && StdehowTests.testList.length > 0; else noTests">
    <h4>The Average of the Marks: {{getMarkAvg(StdehowTests.id)}}</h4>
    <p>Tests-list:</p>
    <ul class="list-group">
        <li *ngFor="let test of StdehowTests.testList" class="list-group-item">
            <div class="card">
                <b>Test id: </b>{{test.id}}, 
                <b>Description: </b>{{test.description}}, 
                <b>Date: </b>{{test.date}}, 
                <b>Mark: </b>{{test.mark}}
            </div>
        </li>
    </ul>
</div>

<ng-template #noTests>
    <br>
    <div class="card">
        <h4>This student has not been tested yet</h4>    
    </div>
</ng-template>
